
H6 {
  color: #006600;
  font-family: Lucida, Verdana, Helvetica, Arial;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}

H5 {
  color: #006600;
  font-family: Lucida, Verdana, Helvetica, Arial;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}

H4 {
  color: #006600;
  font-family: Lucida, Verdana, Helvetica, Arial;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}

H3 {
  color: #006600;
  font-family: Lucida, Verdana, Helvetica, Arial;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}

H2 {
  color: #006600;
  font-family: Lucida, Verdana, Helvetica, Arial;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}

H1 {
  color: #006600;
  font-family: Lucida, Verdana, Helvetica, Arial;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}

P {
  color: black;
  font-family: Lucida, Verdana, Helvetica, Arial;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: small;
}

LI {
  color: black;
  font-family: Lucida, Verdana, Helvetica, Arial;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: small;
}

A {
  font-family: Lucida, Verdana, Helvetica, Arial;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: small;
}

TT {
  font-family: "Courier New";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: small;
}

PRE {
  font-family: "Courier New";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: small;
}

UL {
  font-family: Lucida, Verdana, Helvetica, Arial;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: small;
}

OL {
  font-family: Lucida, Verdana, Helvetica, Arial;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: small;
}

TD {
  font-family: Lucida, Verdana, Helvetica, Arial;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: small;
  vertical-align: top;
}
